<app-menu></app-menu>
<h4>MAX Registration</h4>
<p>
  The Max Registration System (MAXreg) is a product of the students and staff of the .Net Boot Camps of
  <a href="http://www.maxtrain.com" target="_blank">MAX Technical Training</a>.
</p>
<p>
  Four students of the .Net Boot Camp 5 class offered to begin work on the project at the direction of 
  their instructor. There were only 4 business days to work on the project before their DEMO day.
</p>
<h4>Constributors</h4>
<p>The following MAX Technical Training Boot Camp students contributed to this project:</p>
<ul>
  <li>Chris Caudill .Net Bootcamp 5</li>
  <li>Ken Doud .Net Bootcamp 5</li>
  <li>Ben Petersen .Net Bootcamp 5</li>
  <li>Kellan Arick .Net Bootcamp 5</li>
</ul>