<app-menu></app-menu>
<div>
<span class="pagetitle h5">Attendee List</span>
<span *ngIf="event" class="create"> | <a routerLink="/attendee/create/{{event.id}}">Add Guest</a> | <span>
<span><input [(ngModel)]="rsearchCriteria" type="text"></span>
<table *ngIf="event"  class="table text-center">
  <thead class="font-weight-bold">
    <td>Name</td>
    <td>Date</td>
  </thead>
  <tbody>
    <td>{{event.name}}</td>
    <td>{{event.date}}</td>
  </tbody>
</table>
<table *ngIf="event" class="table table-striped text-center">
  <thead class="font-weight-bold">
    <td>Name</td>
    <td>Phone</td>
    <td>Email</td>
    <td>Actions</td>
  </thead>
  <tbody>
    <tr *ngFor="let attendee of event.attendees">
      <td>{{ attendee.guest.firstname }}</td>
      <td>{{ attendee.guest.phone }}</td>
      <td>{{ attendee.guest.email }}</td>
      <td>
          <button (click)="delete(attendee)">Remove</button>
      </td>
    </tr>

  </tbody>
</table>
